<% content_for :title do %>About<% end %>

<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h2>About Tech Electronics &amp ECE Receiving</h2>

    <h3>Receiving</h3>
	<p>Packages shipped to the department are processed by ECE Receiving. When a package arrives, you will receive an email notification that the package is available for pick up. Via email response, you may also request that the package be delivered. </p>
	<p>Packages will not be delivered to empty offices. </p>

	<h3>Location</h3>
	<p>1301 Hamerschlag Hall </p>

	<h3>Hours</h3>
	<p>Packages will be available for pick up from 9 am to 5 pm, Monday through Friday.  </p>
  </div>
</div>

