<%= grid(@categories_grid, show_filters: :when_filtered) do |g|

  g.column name: 'Name', attribute: 'name', filter: false do |category|
    link_to category.name, category_path(category)
  end

  g.column name: 'Description' do |category|
    category.description
  end

  if admin?
    g.column do |category|
      link_to '<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-edit"></span> Edit</button>'.html_safe, edit_category_path(category), {:style=>'color:#000000;', :class => "css_class"}
    end
  end

  if admin?
    g.column do |category|
      link_to '<button type="button" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-trash"></span> Delete</button>'.html_safe, category_path(category), method: :delete, data: { confirm: 'Are you sure?' }
    end
  end  

end -%>