%p#notice= notice

.container
  %h2= @category.name
  %p= @category.description

  %a{:class => "btn btn-default", :href => categories_path, :role => "button"} &laquo; Back
  %a{:class => "btn btn-default", :href => edit_category_path(@category), :role => "button"} Edit &raquo; 